.card {
    cursor: pointer;
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-img-top{
    width: 60px;
    height: 60px;
  }
  .card-body{
    flex-wrap: wrap;
    flex-direction: column;
  }